body{
    background-color: rgb(198, 188, 208);

}
#heder{
    text-align: center;
    color: blueviolet;
}
#heder img{
    width: 300px;
}
#main{
    margin: 32px auto;
    height: 400px;
    width: 550px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 8px;
    background-color: blueviolet;
}
#main h3{
    color: white;
}
#main p{
    color: azure;
}